@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


body{
    background: #141110;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

@media (max-width: 2600px) {
    .petitnom{
        font-size: 30px;
        margin-top: 100px;
        margin-left: 85px;
    }

    .titre{
        font-size: 30px;
        margin-top: -50px;
        margin-left: 75px;
    }

    .bio{
        margin-left: 1325px;
        margin-top: 200px;
        font-size: 27px;
    }

    .petitebio p {
        text-align: right;
        margin-right: 490px;
        margin-bottom: -25px;
    }

    .big{
        font-size: 500px;
        margin-top: -1810px;
        margin-left: 1280px;
    }

    img{
        width: 1200px;
        height: auto;
        margin-left: -100px;
        margin-top: -1000px ;
    }

    .pdf{
        margin-left: 1330px;
        width: 300px;
        height: 70px;
        margin-top: 30px;
        font-size: 20px;
        padding-top: 40px;
    }
}
@media (max-width: 2000px) {
    .petitnom {
        font-size: 24px;
        margin-top: 60px;
        margin-left: 60px;
    }

    .titre {
        font-size: 26px;
        margin-top: -40px;
        margin-left: 50px;
    }

    .bio {
        margin-left: 1000px;
        margin-top: 150px;
        font-size: 22px;
    }

    .petitebio p {
        text-align: right;
        margin-right: 300px;
        margin-bottom: -15px;
    }

    .big {
        font-size: 410px;
        margin-top: -1464px;
        margin-left: 964px;
    }

    img {
        width: 900px;
        height: auto;
        margin-left: -40px;
        margin-top: -750px;
    }

    .pdf{
        margin-left: 1000px;
        width: 250px;
        height: 60px;
        margin-top: 30px;
        font-size: 15px;
        padding-top: 35px;
    }
}

@media (max-width: 1460px) {
    .petitnom {
        font-size: 20px;
        margin-top: 50px;
        margin-left: 30px;
    }

    .titre {
        font-size: 22px;
        margin-top: -30px;
        margin-left: 30px;
    }

    .bio {
        margin-left: 600px;
        margin-top: 20px;
        font-size: 18px;
    }

    .petitebio p {
        text-align: right;
        margin-right: 350px;
        margin-bottom: -15px;
    }

    .big {
        font-size: 300px;
        margin-top: -1120px;
        margin-left: 575px;
    }

    img {
        width: 700px;
        height: auto;
        margin-left: -20px;
        margin-top: -550px;
    }

    .pdf {
        margin-left: 600px;
        width: 200px;
        height: 50px;
        margin-top: 20px;
        font-size: 14px;
        padding-top: 25px;

    }
}

@media (max-width: 1300px) {
    .petitebio p {
        text-align: right;
        margin-right: 200px;
        margin-bottom: -15px;
    }

    .big{
        margin-top: -1110px;
    }
}

@media (max-width: 1060px) {
    .petitnom {
        font-size: 18px;
        margin-top: 40px;
        margin-left: 25px;
    }

    .titre {
        font-size: 20px;
        margin-top: -35px;
        margin-left: 20px;
    }

    .bio {
        margin-left: 500px;
        margin-top: 10px;
        font-size: 16px;
    }

    .petitebio p {
        text-align: right;
        margin-right: 100px;
        margin-bottom: -15px;
    }

    .big {
        font-size: 250px;
        margin-top: -995px;
        margin-left: 480px;
    }

    img {
        width: 600px;
        height: auto;
        margin-left: -10px;
        margin-top: -450px;
    }

    .pdf {
        margin-left: 500px;
        width: 180px;
        height: 45px;
        margin-top: 15px;
        font-size: 13px;
        padding-top: 20px;
    }
}

@media (max-width: 780px) {
    .petitnom {
        font-size: 16px;
        margin-top: 30px;
        margin-left: 15px;
    }

    .titre {
        font-size: 18px;
        margin-top: -20px;
        margin-left: 15px;
    }

    .bio {
        margin-left: 300px;
        margin-top: 100px;
        font-size: 14px;
    }

    .petitebio p {
        text-align: right;
        margin-right: 90px;
        margin-bottom: -13px;
    }

    .big {
        font-size: 180px;
        margin-top: -770px;
        margin-left: 287px;
    }

    img {
        width: 500px;
        height: auto;
        margin-left: -90px;
        margin-top: -430px;
    }

    .pdf {
        margin-left: 300px;
        width: 160px;
        height: 40px;
        margin-top: 10px;
        font-size: 12px;
        padding-top: 15px;
    }
}




.pdf{
    text-align: center;
    background: #FFD60A;
    border-radius: 15px;
}

.pdf a{
    color: #ffffff;
    font-weight: bold;
    user-select: none;
    text-decoration: none;
}

.bio{
    user-select: none;
    color: #EDE0D9;
}

.petitebio p {
    text-align: right;
}

.petitnom{
    color: #AE8C7E;
    user-select: none;
}

.titre{
    color: #AE8C7E;
    user-select: none;

}

.big {
    color: #AE8C7E;
    position: absolute;
    font-weight: bold;
    z-index: -1;
    pointer-events: none;
    user-select: none;
    font-family: "Jacquard 12", system-ui;
}

img{
    position: absolute;
    font-weight: bold;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}